{% extends 'base.html' %}
{% block content %}
    {% with messages =  get_flashed_messages(with_categories=true) %}
        {% for category, msg in messages %}
            {% if category == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {{msg}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            {% if category == 'error'%}
                <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
                  {{msg}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endwith %}
  <div class="container-lg upload-container" style="height: 535px; overflow: auto; padding-bottom:10px;">
        <form class="row gy-2 gx-3 align-items-center" style="padding:10px;" action="/upload" method="POST">
            <div class="col-sm-6">
                <input type="file" class="form-control form-control-sm" name="csv_file">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-danger search-keyword">Upload</button>
            </div>
        </form>
    </div>

{% endblock %}